<div class="mapper">
    <a href="/" class="mapper-item">
        <span>Trang chủ</span>
    </a>
    <i class="fa-solid fa-angle-right"></i>
    <span>Giỏ hàng</span>
</div>
{{!-- <div class="storage-cart">
    <div class="main-title">
        <h4>Giỏ hàng của bạn</h4>
    </div>
    <div class="row cart-content">
        <div class="col-xl-9">
            <div>
                <div class="cart-heading">
                    <label for="">
                        <input type="checkbox">
                        <span class="checkbox-fake"></span>
                        <span class="label">Tất cả (3 sản phẩm)</span>
                    </label>
                    <span>Đơn giá</span>
                    <span>Số lượng</span>
                    <span>Thành tiền</span>
                    <span class="remove-all">
                        <i class="fa-regular fa-trash-can"></i>
                    </span>
                </div>
            </div>
            <div style="height: auto; overflow: auto;">
                <div class="seller">
                    <div class="sellers-group">
                        <div class="seller-sub-title">
                            <label for="">
                                <input type="checkbox">
                                <span class="checkbox-fake">
                                </span>
                            </label>
                            <img src="https://salt.tikicdn.com/ts/upload/30/24/79/8317b36e87e7c0920e33de0ab5c21b62.png"
                                alt="seller-link" class="sellers__icon-home">
                            <a href="https://tiki.vn/cua-hang/tiki-trading" class="sellers__name" target="_blank"
                                data-view-id="cart_view_seller" data-view-index="1">Ulibs Trading<img
                                    src="https://frontend.tikicdn.com/_desktop-next/static/img/icons/Path.svg"
                                    alt="seller-link" class="sellers__icon-arrow"></a>
                        </div>
                    </div>
                    <div class="list">
                        <div>
                            <div class="cart-item">
                                <div class="row-custom">
                                    <div class="col-1-custom">
                                        <div class="product__images">
                                            <div class="product__checkbox">
                                                <label for="">
                                                    <input type="checkbox" name="" id="">
                                                    <span class="checkbox-fake"></span>
                                                </label>
                                            </div>
                                            <a href="#" class="product__img">
                                                <img src="https://salt.tikicdn.com/cache/w78/ts/product/a1/ef/4f/0b39e40dca3827604c8bc4e867cc9423.jpg"
                                                    alt="product image">
                                            </a>
                                            <div class="product__content">
                                                <a href="./" class="product__name" target="_blank">
                                                    Chiến Binh Cầu Vồng (Tái Bản 2020)
                                                </a>
                                                <div class="product__bookcare">
                                                    Sách có thể bọc bằng
                                                    <a href="/bookcare"><img
                                                            src="https://salt.tikicdn.com/ts/upload/27/4d/9c/babbc888efcb183d0f76c2fd5b2f98dc.png"
                                                            alt="bookcare" width="60" height="11"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-2-custom">
                                        <span class="product__real-prices">81.750 ₫</span>
                                        <del class="product__discount-prices">109.000 ₫</del>
                                    </div>
                                    <div class="col-3-custom">
                                        <div class="quantity_selector">
                                            <span class="minus"><i class="fa fa-minus" aria-hidden="true"></i></span>
                                            <span id="quantity_value" style="font-size: 14px;">1</span>
                                            <span class="plus"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-4-custom">
                                        <span class="product__final-prices">81.750 ₫</span>
                                    </div>
                                    <div class="col-5-custom">
                                        <div class="product__delete">
                                            <i class="fa-regular fa-trash-can"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="cart-item">
                                <div class="row-custom">
                                    <div class="col-1-custom">
                                        <div class="product__images">
                                            <div class="product__checkbox">
                                                <label for="">
                                                    <input type="checkbox" name="" id="">
                                                    <span class="checkbox-fake"></span>
                                                </label>
                                            </div>
                                            <a href="#" class="product__img">
                                                <img src="https://salt.tikicdn.com/cache/w78/ts/product/a1/ef/4f/0b39e40dca3827604c8bc4e867cc9423.jpg"
                                                    alt="product image">
                                            </a>
                                            <div class="product__content">
                                                <a href="./" class="product__name" target="_blank">
                                                    Chiến Binh Cầu Vồng (Tái Bản 2020)
                                                </a>
                                                <div class="product__bookcare">
                                                    Sách có thể bọc bằng
                                                    <a href="/bookcare"><img
                                                            src="https://salt.tikicdn.com/ts/upload/27/4d/9c/babbc888efcb183d0f76c2fd5b2f98dc.png"
                                                            alt="bookcare" width="60" height="11"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-2-custom">
                                        <span class="product__real-prices">81.750 ₫</span>
                                        <del class="product__discount-prices">109.000 ₫</del>
                                    </div>
                                    <div class="col-3-custom">
                                        <div class="quantity_selector">
                                            <span class="minus"><i class="fa fa-minus" aria-hidden="true"></i></span>
                                            <span id="quantity_value" style="font-size: 14px;">1</span>
                                            <span class="plus"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-4-custom">
                                        <span class="product__final-prices">81.750 ₫</span>
                                    </div>
                                    <div class="col-5-custom">
                                        <div class="product__delete">
                                            <i class="fa-regular fa-trash-can"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="cart-item">
                                <div class="row-custom">
                                    <div class="col-1-custom">
                                        <div class="product__images">
                                            <div class="product__checkbox">
                                                <label for="">
                                                    <input type="checkbox" name="" id="">
                                                    <span class="checkbox-fake"></span>
                                                </label>
                                            </div>
                                            <a href="#" class="product__img">
                                                <img src="https://salt.tikicdn.com/cache/w78/ts/product/a1/ef/4f/0b39e40dca3827604c8bc4e867cc9423.jpg"
                                                    alt="product image">
                                            </a>
                                            <div class="product__content">
                                                <a href="./" class="product__name" target="_blank">
                                                    Chiến Binh Cầu Vồng (Tái Bản 2020)
                                                </a>
                                                <div class="product__bookcare">
                                                    Sách có thể bọc bằng
                                                    <a href="/bookcare"><img
                                                            src="https://salt.tikicdn.com/ts/upload/27/4d/9c/babbc888efcb183d0f76c2fd5b2f98dc.png"
                                                            alt="bookcare" width="60" height="11"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-2-custom">
                                        <span class="product__real-prices">81.750 ₫</span>
                                        <del class="product__discount-prices">109.000 ₫</del>
                                    </div>
                                    <div class="col-3-custom">
                                        <div class="quantity_selector">
                                            <span class="minus"><i class="fa fa-minus" aria-hidden="true"></i></span>
                                            <span id="quantity_value" style="font-size: 14px;">1</span>
                                            <span class="plus"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-4-custom">
                                        <span class="product__final-prices">81.750 ₫</span>
                                    </div>
                                    <div class="col-5-custom">
                                        <div class="product__delete">
                                            <i class="fa-regular fa-trash-can"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="cart-item">
                                <div class="row-custom">
                                    <div class="col-1-custom">
                                        <div class="product__images">
                                            <div class="product__checkbox">
                                                <label for="">
                                                    <input type="checkbox" name="" id="">
                                                    <span class="checkbox-fake"></span>
                                                </label>
                                            </div>
                                            <a href="#" class="product__img">
                                                <img src="https://salt.tikicdn.com/cache/w78/ts/product/a1/ef/4f/0b39e40dca3827604c8bc4e867cc9423.jpg"
                                                    alt="product image">
                                            </a>
                                            <div class="product__content">
                                                <a href="./" class="product__name" target="_blank">
                                                    Chiến Binh Cầu Vồng (Tái Bản 2020)
                                                </a>
                                                <div class="product__bookcare">
                                                    Sách có thể bọc bằng
                                                    <a href="/bookcare"><img
                                                            src="https://salt.tikicdn.com/ts/upload/27/4d/9c/babbc888efcb183d0f76c2fd5b2f98dc.png"
                                                            alt="bookcare" width="60" height="11"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-2-custom">
                                        <span class="product__real-prices">81.750 ₫</span>
                                        <del class="product__discount-prices">109.000 ₫</del>
                                    </div>
                                    <div class="col-3-custom">
                                        <div class="quantity_selector">
                                            <span class="minus"><i class="fa fa-minus" aria-hidden="true"></i></span>
                                            <span id="quantity_value" style="font-size: 14px;">1</span>
                                            <span class="plus"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-4-custom">
                                        <span class="product__final-prices">81.750 ₫</span>
                                    </div>
                                    <div class="col-5-custom">
                                        <div class="product__delete">
                                            <i class="fa-regular fa-trash-can"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="cart-item">
                                <div class="row-custom">
                                    <div class="col-1-custom">
                                        <div class="product__images">
                                            <div class="product__checkbox">
                                                <label for="">
                                                    <input type="checkbox" name="" id="">
                                                    <span class="checkbox-fake"></span>
                                                </label>
                                            </div>
                                            <a href="#" class="product__img">
                                                <img src="https://salt.tikicdn.com/cache/w78/ts/product/a1/ef/4f/0b39e40dca3827604c8bc4e867cc9423.jpg"
                                                    alt="product image">
                                            </a>
                                            <div class="product__content">
                                                <a href="./" class="product__name" target="_blank">
                                                    Chiến Binh Cầu Vồng (Tái Bản 2020)
                                                </a>
                                                <div class="product__bookcare">
                                                    Sách có thể bọc bằng
                                                    <a href="/bookcare"><img
                                                            src="https://salt.tikicdn.com/ts/upload/27/4d/9c/babbc888efcb183d0f76c2fd5b2f98dc.png"
                                                            alt="bookcare" width="60" height="11"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-2-custom">
                                        <span class="product__real-prices">81.750 ₫</span>
                                        <del class="product__discount-prices">109.000 ₫</del>
                                    </div>
                                    <div class="col-3-custom">
                                        <div class="quantity_selector">
                                            <span class="minus"><i class="fa fa-minus" aria-hidden="true"></i></span>
                                            <span id="quantity_value" style="font-size: 14px;">1</span>
                                            <span class="plus"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-4-custom">
                                        <span class="product__final-prices">81.750 ₫</span>
                                    </div>
                                    <div class="col-5-custom">
                                        <div class="product__delete">
                                            <i class="fa-regular fa-trash-can"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>address-sec
            </div>
        </div>
        <div class="col-xl-3">
            <div style="" class="section-container">
                <div class="address-section">
                    <div class="block-header">
                        <h3 class="block-header__title">Giao tới</h3>
                        <a class="block-header__nav" href="#">Thay đổi</a>
                    </div>
                        <div class="customer_info">
                            <p class="customer_info__name">Nguyễn Trung Hiếu</p>
                            <i></i>
                            <p class="customer_info__phone">0968841459</p>
                        </div>
                        <div class="address">nhà số 2 ngõ 30 đường Hồng Bàng, Phường Lê Mao, Thành phố Vinh, Nghệ An</div>
                </div>
                <div class="section-coupon">
                    <div class="block-header">
                        <div class="block-header__title">ULibs Khuyến Mãi</div>
                        <div class="block-header__usage"><span>Có thể chọn 2</span><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" class="info-icon" background="#ffffff" aria-describedby="popup-1"><path d="M12.75 11.25C12.75 10.8358 12.4142 10.5 12 10.5C11.5858 10.5 11.25 10.8358 11.25 11.25V15.75C11.25 16.1642 11.5858 16.5 12 16.5C12.4142 16.5 12.75 16.1642 12.75 15.75V11.25Z" fill="#787878"></path><path d="M12.75 8.25C12.75 8.66421 12.4142 9 12 9C11.5858 9 11.25 8.66421 11.25 8.25C11.25 7.83579 11.5858 7.5 12 7.5C12.4142 7.5 12.75 7.83579 12.75 8.25Z" fill="#787878"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3ZM4.5 12C4.5 7.85786 7.85786 4.5 12 4.5C16.1421 4.5 19.5 7.85786 19.5 12C19.5 16.1421 16.1421 19.5 12 19.5C7.85786 19.5 4.5 16.1421 4.5 12Z" fill="#787878"></path></svg></div>
                    </div>
                    <div data-view-id="platform_coupon.cart_coupon_view.all" class="show-more"><svg class="coupon-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.2803 14.7803L14.7803 10.2803C15.0732 9.98744 15.0732 9.51256 14.7803 9.21967C14.4874 8.92678 14.0126 8.92678 13.7197 9.21967L9.21967 13.7197C8.92678 14.0126 8.92678 14.4874 9.21967 14.7803C9.51256 15.0732 9.98744 15.0732 10.2803 14.7803Z" fill="#0B74E5"></path><path d="M10.125 10.5C10.7463 10.5 11.25 9.99632 11.25 9.375C11.25 8.75368 10.7463 8.25 10.125 8.25C9.50368 8.25 9 8.75368 9 9.375C9 9.99632 9.50368 10.5 10.125 10.5Z" fill="#0B74E5"></path><path d="M15 14.625C15 15.2463 14.4963 15.75 13.875 15.75C13.2537 15.75 12.75 15.2463 12.75 14.625C12.75 14.0037 13.2537 13.5 13.875 13.5C14.4963 13.5 15 14.0037 15 14.625Z" fill="#0B74E5"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M3.75 5.25C3.33579 5.25 3 5.58579 3 6V9.75C3 10.1642 3.33579 10.5 3.75 10.5C4.61079 10.5 5.25 11.1392 5.25 12C5.25 12.8608 4.61079 13.5 3.75 13.5C3.33579 13.5 3 13.8358 3 14.25V18C3 18.4142 3.33579 18.75 3.75 18.75H20.25C20.6642 18.75 21 18.4142 21 18V14.25C21 13.8358 20.6642 13.5 20.25 13.5C19.3892 13.5 18.75 12.8608 18.75 12C18.75 11.1392 19.3892 10.5 20.25 10.5C20.6642 10.5 21 10.1642 21 9.75V6C21 5.58579 20.6642 5.25 20.25 5.25H3.75ZM4.5 9.08983V6.75H19.5V9.08983C18.1882 9.41265 17.25 10.5709 17.25 12C17.25 13.4291 18.1882 14.5874 19.5 14.9102V17.25H4.5V14.9102C5.81181 14.5874 6.75 13.4291 6.75 12C6.75 10.5709 5.81181 9.41265 4.5 9.08983Z" fill="#0B74E5"></path></svg>
                        <span>Chọn hoặc nhập Khuyến mãi khác</span>
                    </div>
                </div>
            </div>
            
    </div>
    </div>
</div> --}}


<div class="container py-5"> 
    <table class="table table-bordered table-hover" style="border-width: 0; position: relative">
        <thead class="thead-dark">
            <tr class="cart-label">
                <th scope="col" style="width: 36px;">#</th>
                <th scope="col">Sản phẩm</th>
                <th scope="col">Đơn giá</th>
                <th scope="col">Số lượng</th>
                <th scope="col">Thành tiền</th>
                <th scope="col" style="width: 50px; cursor: pointer;">
                    <div title="Xóa tất cả">
                        <i class="fa-solid fa-trash-can"></i>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody id="cart-list">
        </tbody>
    </table>
</div>
<div class="separate"></div>
<div class="cash-out">
    <div class="voucher-controll">
        <div class="label">
            <img src="../../img/logo/gift-voucher.png" alt="" class="icon">
            <p class="title">ULibs Voucher</p>
        </div>
        <div class="voucher-choosing">
            <a href="#">Chọn Hoặc Nhập Mã</a>
        </div>
    </div>
    <div class="voucher-controll">
        <div class="label">
            <label>
                <input type="checkbox" name="coin" id="coin" value="checked">
            </label>
            <img src="../../img/logo/coin.png" alt="" class="icon">
            <p class="title">ULibs Xu</p>
        </div>
        <div class="choose-status" title="Hiện tại tính năng này của chúng tôi đang trong quá trình thử nghiệm. Chúng tôi sẽ release tính năng này sớm nhất có thể.">
            Bạn chưa có ULibs Xu nào
            <i class="fa-solid fa-circle-question"></i>
        </div>
        <div class="price-discount">
            -0đ
        </div>
    </div>
    <div class="total-price">
        <div class="title">
            Tổng thanh toán (0 Sản phẩm):
        </div>
        <div class="price">0 đ</div>
        <button class="button-solid">Mua hàng</button>
    </div>
</div>
<script>
    cartItem = JSON.parse(localStorage.getItem('cart'))
    cartItem.map(item => {
        document.getElementById('cart-list').innerHTML += `
            <tr>
                <th scope="row">1</th>
                <td>
                    <div class="product-card">
                        <div class="product__img">
                            <img src="${item.product.img}" alt="">
                        </div>
                        <div class="product__infomation">
                            <a href="#" class="product__name">
                                ${item.product.name}
                            </a>
                            <span class="product__bookcare">Sách có thể bọc bằng <a href="/bookcare"> <img src="https://salt.tikicdn.com/ts/upload/27/4d/9c/babbc888efcb183d0f76c2fd5b2f98dc.png" alt="bookcare" width="60" height="11"></a></span>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="d-flex justify-content-center align-items-center">
                        <span class="product__real-prices">
                            ${item.product.price}
                        </span>
                        <del class="product__discount-prices">${item.product.price}</del>
                    </div>
                </td>
                <td>
                        <div class="quantity d-flex flex-column flex-sm-row align-items-sm-center justify-content-center" style="margin-top: 0;">
                            <div class="quantity_selector quantity_selector-s">
                                <span class="minus"><i class="fa fa-minus" aria-hidden="true"></i></span>
                                <span id="quantity_value">${item.quantity}</span>
                                <span class="plus"><i class="fa fa-plus" aria-hidden="true"></i></span>
                            </div>      
                        </div>                   
                </td>
                <td>
                    <div class="d-flex justify-content-center align-items-center">
                        <span class="product__final-prices">${item.quantity * (item.product.price - item.product.price*0.3)}</span>
                    </div>
                </td>
                <td>
                    <div class="d-flex justify-content-center align-items-center" style="cursor:pointer;" onclick="removeItem('${item.product.name}')" title="Xóa">
                        <i class="fa-solid fa-trash-can"></i>
                    </div>
                </td>
            </tr>
        `        
    })
        // Format Money
        const priceList = document.querySelectorAll('.product__discount-prices')
        const currentPriceList = document.querySelectorAll('.product__real-prices')
        const finalPriceList = document.querySelectorAll('.product__final-prices')

        const saleOff = 30;


        function formatPrice(price){
            return price.replace(/\B(?=(\d{3})+(?!\d))/g, ',')
        }
        priceList.forEach((item) => {
            let price = parseInt(item.innerText)
            item.innerText = formatPrice(price.toString()) + ' đ' 
        })
        currentPriceList.forEach((item) => {
            let price = parseInt(item.innerText) - (parseInt(item.innerText) * (saleOff/100))
            item.innerText = formatPrice(price.toString()) + ' đ' 
        })
        finalPriceList.forEach((item) => {
            let price = parseInt(item.innerText)
            item.innerText = formatPrice(price.toString()) + ' đ' 
        })

        function removeItem(name){
            let storage = localStorage.getItem('cart')
            if(storage){
                 cart = JSON.parse(storage);
            }
            cart = cart.filter(item => item.product.name != name)
            localStorage.setItem('cart', JSON.stringify(cart));
            location.reload();
            console.log('success')
        }

</script>
