<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>ULibs - Đăng nhập</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="../public/img/logo/logo.jpg">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/FontAwesome.otf"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.eot"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.svg"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css.map"
    />
    <link rel="stylesheet" href="../../css/login.css">
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId            : '378641464423407',
          autoLogAppEvents : true,
          xfbml            : true,
          version          : 'v14.0'
        });
      };
    </script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
    <script>
      if (document.location.search.match(/type=embed/gi)) {
        window.parent.postMessage("resize", "*");
      }
    </script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v14.0&appId=378641464423407&autoLogAppEvents=1" nonce="ocCsmxsf"></script>
  </head>

  <body>
    <div id="fb-root"></div>
    <div id="AppendHere"></div>
        <div class="form">
            <h1>Đăng nhập</h1>
            <p><a href="#" target="_blank" class="site-name"> www.sitename.com</a></p>


            <div class="input-info">
        
                <i class="fa fa-user" style="margin-left: 24px"></i>

                <input type="text" name="username" id="username" placeholder="Tên đăng nhập" />
                <i class="fa fa-envelope" style="margin-left: 24px"></i>
                <input
                    type="email"
                    placeholder="Email"
                    required=""
                    autocomplete="off"
                    validate=""
                    name="email"
                    id="email"
                />
                <i class="fa fa-lock" style="margin-left: 24px"></i>

                <input type="password" name="password" id="password" placeholder="Mật khẩu" />

                <input type="checkbox" />
                <span>Nhớ mật khẩu</span><br />
            </div>
            <div class="alert">Tài khoản hoặc mật khẩu sai. Vui lòng thử lại</div>
            <div class="log-sign">
                <!--the login button and the sign up button>[to the sign up page]-->
                <button class="login" onclick="login()">
                <i class="fa fa-mail-forward (alias)"></i> Log In
                </button>
                <!--log in-->

                <a href="/register" target="_blank">
                <!--the link to the sign up page-->
                <button class="signup" form="signupform">
                    <i class="fa fa-plus"></i> Đăng kí
                </button>
                </a>
            </div>
            <!--end of the log-sign-->
        
            <div class="social-media">
                <!--sign up by fb and tw-->
                <div class="rounded-social-buttons">
                  <a class="circle-button facebook" href="/auth/facebook"></a>

                </div>
            </div>

            <p class="forget-password">
                Nếu bạn quên mật khẩu hẫy <a href="#">ấn ở đây</a>
            </p>
        </div>
      
    <!--End login form-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script id="rendered-js">
        //this function to applay your animate style
        function animate_Me(target, moveMe) {
          $(target).focus(function () {
            $(moveMe).animate({ marginLeft: "266px" });
          });
          $(target).focusout(function () {
            $(moveMe).animate({ marginLeft: "24px" });
          });
        }
        //--------------------

        animate_Me("input[type='text']", ".fa-user");
        animate_Me("input[placeholder='Your Last Name']", ".fa-user-plus");
        animate_Me("input[type='email']", ".fa-envelope");
        animate_Me("input[type='password']", ".fa-lock");
        animate_Me("input[placeholder='Confirm Password']", ".fa-refresh");
    </script>
    <script>
        localStorage.removeItem("userData");
        function setCookie(cname, cvalue, exdays) {
            const d = new Date();
            d.setTime(d.getTime() + (exdays*24*60*60*1000));
            let expires = "expires="+ d.toUTCString();
            document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        }
        function getCookie(cname) {
              let name = cname + "=";
              let decodedCookie = decodeURIComponent(document.cookie);
              let ca = decodedCookie.split(';');
              for(let i = 0; i <ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) == ' ') {
                  c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                  return c.substring(name.length, c.length);
                }
              }
            return "";
          }
          $(".form > p > a.site-name").text(location.origin);
      function login() {
        $.ajax({  
          url: '/login',
          type: 'POST',
          data: {
            username : $('#username').val(),
            email : $('#email').val(),
            password : $('#password').val(), 
          }
        })
          .then(data => {
            if (data.success) {
              setCookie('token', data.token, 1);
              window.location.pathname = '/';
            }
          else {
            $('.alert').css('display', 'block');
          }
      })
          .catch(err => console.log(err));
      }

    </script>
  </body>
</html>
