<div class="mapper">
    <a href="/" class="mapper-item">
        <span>Trang chủ</span>
    </a>
    <i class="fa-solid fa-angle-right"></i>
    <span>Giỏ hàng</span>
    <i class="fa-solid fa-angle-right"></i>
    <span>Xác thực thanh toán</span>
</div>

<div class="container-fluid payment-container">
    <div class="row">
        <div class="col-xxl-9 payment-col-left">
            <div class="shipping-method">
                <div class="title delivery-title">Chọn hình thức thanh toán </div>
                <div class="shipping-method-list">
                    <div>
                        <input type="radio" name="shipping-method" id="shipping-method">
                        <img src="../../img/logo/JTExpress.png" alt="" class="shipping-icon">
                        <span class="method-text"> Giao Tiết Kiệm</span>
                        <span class="freeship-badge">-20K<img
                                src="https://salt.tikicdn.com/ts/upload/b7/77/7d/0a981c8d05f5bec66dc057f6575d2e2f.png"
                                alt="icon" width="69" height="11"></span>
                    </div>
                </div>
                <div class="shipping-method-list">
                    <div>
                        <input type="radio" name="shipping-method" id="shipping-method">
                        <img src="../../img/logo/viettel-post.png" alt="" class="shipping-icon">
                        <span class="method-text"> Giao Hàng Nhanh</span>
                        <span class="freeship-badge">-10K<img
                                src="https://salt.tikicdn.com/ts/upload/b7/77/7d/0a981c8d05f5bec66dc057f6575d2e2f.png"
                                alt="icon" width="69" height="11"></span>
                    </div>
                </div>
                <div class="shipping-pakage">
                    <div class="package">
                        <div class="package-title"><img width="24" height="24" alt="icon"
                                src="https://salt.tikicdn.com/ts/upload/ad/b7/93/7094a85d0b6d299f30ed89b03511deb9.png">Gói
                        </div>
                        <span class="package-leadTime">Giao vào Thứ Năm, 14/07</span>
                    </div>
                    <div class="left-content">
                        <div class="package-summary">
                            <div>
                                <img src="../../img/logo/JTExpress.png" alt="" class="shipping-icon">
                                <span class="method-text" style="font-size: 12px; line-height: 16px;"> Giao Tiết
                                    Kiệm</span>
                            </div>
                            <div class="shipping-fee">
                                <span class="original-fee">17.000 ₫</span>
                                <span class="current-fee">7.000 ₫</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24"
                                    fill="none" class="info-icon" background="#ffffff" aria-describedby="popup-6">
                                    <path
                                        d="M12.75 11.25C12.75 10.8358 12.4142 10.5 12 10.5C11.5858 10.5 11.25 10.8358 11.25 11.25V15.75C11.25 16.1642 11.5858 16.5 12 16.5C12.4142 16.5 12.75 16.1642 12.75 15.75V11.25Z"
                                        fill="#808089"></path>
                                    <path
                                        d="M12.75 8.25C12.75 8.66421 12.4142 9 12 9C11.5858 9 11.25 8.66421 11.25 8.25C11.25 7.83579 11.5858 7.5 12 7.5C12.4142 7.5 12.75 7.83579 12.75 8.25Z"
                                        fill="#808089"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3ZM4.5 12C4.5 7.85786 7.85786 4.5 12 4.5C16.1421 4.5 19.5 7.85786 19.5 12C19.5 16.1421 16.1421 19.5 12 19.5C7.85786 19.5 4.5 16.1421 4.5 12Z"
                                        fill="#808089"></path>
                                </svg>
                            </div>
                        </div>
                        <div class="package-item-list">

                        </div>
                    </div>
                    <div class="right-container">
                        <div class="fulfill">
                            <svg class="fulfillment-icon" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M3 4.5C3 4.08579 3.33579 3.75 3.75 3.75H10.5C10.9142 3.75 11.25 4.08579 11.25 4.5V6.75H16.5C16.8442 6.75 17.1441 6.98422 17.2276 7.3181L17.8939 9.98345L20.5854 11.3292C20.8395 11.4562 21 11.7159 21 12V16.5C21 16.9142 20.6642 17.25 20.25 17.25H17.25C17.25 18.9069 15.9069 20.25 14.25 20.25C12.5931 20.25 11.25 18.9069 11.25 17.25H10.5C10.0858 17.25 9.75 16.9142 9.75 16.5V5.25H3.75C3.33579 5.25 3 4.91421 3 4.5ZM12.8306 16.7635C12.834 16.7546 12.8372 16.7455 12.8402 16.7364C13.0499 16.1609 13.602 15.75 14.25 15.75C14.898 15.75 15.4501 16.1609 15.6598 16.7364C15.6628 16.7455 15.666 16.7546 15.6694 16.7635C15.7216 16.9161 15.75 17.0797 15.75 17.25C15.75 18.0784 15.0784 18.75 14.25 18.75C13.4216 18.75 12.75 18.0784 12.75 17.25C12.75 17.0797 12.7784 16.9161 12.8306 16.7635ZM16.8487 15.75C16.3299 14.8533 15.3604 14.25 14.25 14.25C13.1396 14.25 12.1701 14.8533 11.6513 15.75H11.25V8.25H15.9144L16.5224 10.6819C16.5755 10.8943 16.7188 11.0729 16.9146 11.1708L19.5 12.4635V15.75H16.8487ZM3 8.25C3 7.83579 3.33579 7.5 3.75 7.5H7.5C7.91421 7.5 8.25 7.83579 8.25 8.25C8.25 8.66421 7.91421 9 7.5 9H3.75C3.33579 9 3 8.66421 3 8.25ZM13.5 9C13.9142 9 14.25 9.33579 14.25 9.75V10.5H15C15.4142 10.5 15.75 10.8358 15.75 11.25C15.75 11.6642 15.4142 12 15 12H13.5C13.0858 12 12.75 11.6642 12.75 11.25V9.75C12.75 9.33579 13.0858 9 13.5 9ZM4.5 12C4.5 11.5858 4.83579 11.25 5.25 11.25H7.5C7.91421 11.25 8.25 11.5858 8.25 12C8.25 12.4142 7.91421 12.75 7.5 12.75H5.25C4.83579 12.75 4.5 12.4142 4.5 12ZM6 15.75C6 15.3358 6.33579 15 6.75 15H7.5C7.91421 15 8.25 15.3358 8.25 15.75C8.25 16.1642 7.91421 16.5 7.5 16.5H6.75C6.33579 16.5 6 16.1642 6 15.75Z"
                                    fill="#38383D"></path>
                            </svg>
                            <div>
                                <p class="fulfillment-text">Được giao bởi ULibsNOW Smart Logistics (giao từ Hà Nội)</p>
                                <p class="fulfillment-text fulfillment-text--warning"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="seller-coupons-heading"><span class="seller-coupons-heading__title">Shop khuyến mãi</span>
                    <div class="seller-coupons-heading__hint"><span>Nhập hoặc chọn mã</span></div><svg
                        stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" class="more"
                        color="#787878" size="24" height="24" width="24" xmlns="http://www.w3.org/2000/svg"
                        style="color: rgb(120, 120, 120);">
                        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path>
                    </svg>
                </div>
            </div>
            <div class="shipping-method">
                <div class="title">Thanh toán bằng ULibs Xu</div>
                <div class="ulibs-coin-amount">
                    <input type="checkbox" name="coin-choosen" id="coin-choosen" disabled>
                    <div class="label">Bạn không có đủ
                        <span>ULibs Xu</span>
                    </div>
                    <img src="https://salt.tikicdn.com/ts/upload/e7/5a/ed/b69b599394e0c51f828fd80f317ae945.png"
                        height="20" width="20" alt="icon">
                </div>
                <p class="additional-text">Bạn cần thêm ULibs Xu?<a href="#">Giao dịch tại đây</a></p>
            </div>
            <div class="shipping-method">
                <div class="title">Chọn hình thức thanh toán</div>
                <div>
                    <label class="payment-method-radio">
                        <input type="radio" readonly="" name="payment-method" id="payment-method" value="cod"
                            checked="">
                        <span class="label">
                            <div>
                                <img class="method-icon"
                                    src="https://frontend.tikicdn.com/_desktop-next/static/img/icons/checkout/icon-payment-method-cod.svg"
                                    width="32" height="32" alt="icon">
                                <div class="method-content">
                                    <div class="method-content__title"><span>Thanh toán tiền mặt khi nhận hàng</span>
                                    </div>
                                    <div class="method-content__sub-title method-content__sub-title--normal"></div>
                                </div>
                            </div>
                        </span>
                    </label>
                    <label class="payment-method-radio">
                        <input type="radio" readonly="" name="payment-method" id="payment-method" value="cod"
                            checked="">
                        <span class="label">
                            <div>
                                <img class="method-icon"
                                    src="https://frontend.tikicdn.com/_desktop-next/static/img/icons/checkout/icon-payment-method-viettelmoney.png"
                                    width="32" height="32" alt="icon">
                                <div class="method-content">
                                    <div class="method-content__title"><span>Thanh toán tiền mặt khi nhận hàng</span>
                                    </div>
                                    <div class="method-content__sub-title method-content__sub-title--normal"></div>
                                </div>
                            </div>
                        </span>
                    </label>
                    <label class="payment-method-radio">
                        <input type="radio" readonly="" name="payment-method" id="payment-method" value="cod"
                            checked="">
                        <span class="label">
                            <div>
                                <img class="method-icon"
                                    src="https://frontend.tikicdn.com/_desktop-next/static/img/icons/checkout/icon-payment-method-momo.svg"
                                    width="32" height="32" alt="icon">
                                <div class="method-content">
                                    <div class="method-content__title"><span>Thanh toán bằng ví MOMO</span>
                                    </div>
                                    <div class="method-content__sub-title method-content__sub-title--normal"></div>
                                </div>
                            </div>
                        </span>
                    </label>
                    <label class="payment-method-radio">
                        <input type="radio" readonly="" name="payment-method" id="payment-method" value="cod"
                            checked="">
                        <span class="label">
                            <div>
                                <img class="method-icon"
                                    src="https://frontend.tikicdn.com/_desktop-next/static/img/icons/checkout/icon-payment-method-zalo-pay.svg"
                                    width="32" height="32" alt="icon">
                                <div class="method-content">
                                    <div class="method-content__title"><span>Thanh toán bằng ví ZaloPay</span>
                                    </div>
                                    <div class="method-content__sub-title method-content__sub-title--normal"></div>
                                </div>
                            </div>
                        </span>
                    </label>
                    <label class="payment-method-radio">
                        <input type="radio" readonly="" name="payment-method" id="payment-method" value="cod"
                            checked="">
                        <span class="label">
                            <div>
                                <img class="method-icon"
                                    src="https://frontend.tikicdn.com/_desktop-next/static/img/icons/checkout/icon-payment-method-vnpay.png"
                                    width="32" height="32" alt="icon">>
                                <div class="method-content">
                                    <div class="method-content__title"><span>Thanh toán bằng ví VNPAY</span>
                                    </div>
                                    <div class="method-content__sub-title method-content__sub-title--normal"></div>
                                </div>
                            </div>
                        </span>
                    </label>
                    <label class="payment-method-radio">
                        <input type="radio" readonly="" name="payment-method" id="payment-method" value="cod"
                            checked="">
                        <span class="label">
                            <div>
                                <img class="method-icon"
                                    src="https://frontend.tikicdn.com/_desktop-next/static/img/icons/checkout/icon-payment-method-credit.svg"
                                    width="32" height="32" alt="icon">>
                                <div class="method-content">
                                    <div class="method-content__title"><span>Thanh toán bằng thẻ quốc tế Visa, Master,
                                            JCB</span>
                                    </div>
                                    <div class="method-content__sub-title method-content__sub-title--normal"></div>
                                </div>
                            </div>
                        </span>
                    </label>
                    <label class="payment-method-radio">
                        <input type="radio" readonly="" name="payment-method" id="payment-method" value="cod"
                            checked="">
                        <span class="label">
                            <div>
                                <img class="method-icon"
                                    src="https://frontend.tikicdn.com/_desktop-next/static/img/icons/checkout/icon-payment-method-atm.svg"
                                    width="32" height="32" alt="icon">
                                <div class="method-content">
                                    <div class="method-content__title"><span>Thẻ ATM nội địa/Internet Banking (Hỗ trợ
                                            Internet Banking)</span>
                                    </div>
                                    <div class="method-content__sub-title method-content__sub-title--normal"></div>
                                </div>
                            </div>
                        </span>
                    </label>
                </div>
            </div>
        </div>
        <div class="col-xxl-3 payment-col-right">
            <div class="shipping-section">
                <div class="block-header">
                    <span class="block-header__title">Giao tới</span><a class="block-header__nav"
                        href="#">Thay đổi</a>
                </div>
                <div class="customer_info">
                    <p class="customer_info__name">Nguyễn Trung Hiếu</p><i></i>
                    <p class="customer_info__phone">0968841459</p>
                </div>
                <div class="address">nhà số 2 ngõ 30 đường Hồng Bàng, Phường Lê Mao, Thành phố Vinh, Nghệ An</div>
            </div>
            <div class="shipping-section payment-total">
                <div class="block-header">
                    <span class="block-header__title">Đơn hàng</span><a class="block-header__nav"
                        href="./">Thay đổi</a>
                </div>
                <div class="block-header__sub-title">
                    <p class="sub-title-text" id="quatity-total-payment"></p>
                    <p class="sub-title-link">Xem thông tin<svg class="sub-title-link__arrow" width="20" height="20"
                            viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M9.96967 8.46967C10.2626 8.17678 10.7374 8.17678 11.0303 8.46967L14.0303 11.4697C14.3232 11.7626 14.3232 12.2374 14.0303 12.5303L11.0303 15.5303C10.7374 15.8232 10.2626 15.8232 9.96967 15.5303C9.67678 15.2374 9.67678 14.7626 9.96967 14.4697L12.4393 12L9.96967 9.53033C9.67678 9.23744 9.67678 8.76256 9.96967 8.46967Z"
                                fill="#0B74E5"></path>
                        </svg></p>
                </div>
                <div class="payment-summary">
                    <div class="payment-summary-item">
                        <div class="summary-label" >Tạm tính</div>
                        <div class="summary-value" id="temp-total--payment"></div>
                    </div>
                    <div class="payment-summary-item">
                        <div class="summary-label">Phí vận chuyển</div>
                        <div class="summary-value">17.000đ</div>
                    </div>
                    <div class="payment-summary-item">
                        <div class="summary-label">Khuyến mãi vận chuyển
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24"
                                fill="none" class="info-icon" background="#ffffff" aria-describedby="popup-6">
                                <path
                                    d="M12.75 11.25C12.75 10.8358 12.4142 10.5 12 10.5C11.5858 10.5 11.25 10.8358 11.25 11.25V15.75C11.25 16.1642 11.5858 16.5 12 16.5C12.4142 16.5 12.75 16.1642 12.75 15.75V11.25Z"
                                    fill="#808089"></path>
                                <path
                                    d="M12.75 8.25C12.75 8.66421 12.4142 9 12 9C11.5858 9 11.25 8.66421 11.25 8.25C11.25 7.83579 11.5858 7.5 12 7.5C12.4142 7.5 12.75 7.83579 12.75 8.25Z"
                                    fill="#808089"></path>
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3ZM4.5 12C4.5 7.85786 7.85786 4.5 12 4.5C16.1421 4.5 19.5 7.85786 19.5 12C19.5 16.1421 16.1421 19.5 12 19.5C7.85786 19.5 4.5 16.1421 4.5 12Z"
                                    fill="#808089"></path>
                            </svg>
                        </div>
                        <div class="summary-value summary-value--positive">-10.000đ</div>
                    </div>
                    
                </div>
                <div class="order-total">
                        <div class="order-total__label">Tổng tiền</div>
                        <div class="order-total__value"><div class="order-total__total"></div><div class="order-total__additional-text">(Đã bao gồm VAT nếu có)</div></div>
                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <button class="order-button">Đặt hàng</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../script/cart-to-payment-handlers.js"></script>