
.product-card{
    display: flex;
    max-width: 398px
}
.product__img img {
    width: 80px;
    height: 80px;
}
.product__name {
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 13px;
    color: rgb(36, 36, 36);
    margin-bottom: 5px;
    line-height: 20px;
}
.product__infomation{
    width: max-content;
    margin-left: 8px;
}
.product__bookcare {
    display: block;
    color: rgb(119, 119, 119);
    font-size: 12px;
    margin: 10px 0px;
}
.product__real-prices {
    font-weight: 500;
    color: rgb(36, 36, 36);
    font-size: 13px;
    display: inline-block;
    margin-right: 5px;
    font-weight: bold;
}
.product__discount-prices {
    color: rgb(153, 153, 153);
    display: inline-block;
    font-size: 11px;
}
.quantity_selector-s{
    margin-left: 0;
    width: 93px;
}
.quantity_selector-s > span {
    font-size: 13px;
}
.product__final-prices {
    color: rgb(255, 66, 78);
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    display: block;
    font-weight: bold;
}
.remove-all {
    display: inline-block;
    position: relative;
    cursor: pointer;
    border-radius: 4px;
    background: rgb(255, 255, 255);
    color: rgb(36, 36, 36);
    z-index: 2;
    text-align: right;
}
th[scope = "col"] > i:hover , td > i:hover{
    color: rgb(11, 116, 229);
}
.cart-label th {
    text-align: center;
}
.table-bordered>:not(caption)>* {
    border-width: 0px 0px;
}
.table-bordered>:not(caption)>*>* {
    border-width: 0px 0px;
}
thead tr:nth-child(1) th {
    position: sticky;
    top: 150px;
    z-index: 2;
}

.separate{
    width: 100%;
    height: 20px;
    background: rgb(245, 245, 250);
}

.voucher-controll{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.voucher-controll > * {
    padding: 0.75rem 0;
}
.voucher-controll > .label{
    margin-right: 200px;
}
.voucher-controll > .voucher-choosing{
    margin-right: 32px;
}
.label > p{
    font-size: 1rem;
}
.voucher-choosing > a {
    font-size: 1rem;
}
input[type = 'checkbox'] {
    width: 20px;
    height: 20px;
    margin-right: 15px;
}
.label .icon{
    margin-bottom: 4px;
}
.choose-status{
    color: #929292;
    margin-left: 17px;
    font-weight: 500;
    cursor: help;
    margin-right: 100px;
}
.price-discount{
    color: #929292;
    margin-right: 32px;
}
.cash-out {
    z-index: 99999999;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    background-color: #fff;
}
.cash-out > * {
    border-bottom: 1px dashed #92929252;
}
.total-price{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: none;
}
.total-price > .title {
    font-size: 16px;
    color: #222;
    line-height: 19px;
}
.total-price > .price {
    font-size: 24px;
    line-height: 28px;
    margin-left: 5px;
    color: #ee4d2d;
    padding: 0.85rem 0;
}
.button-solid {
    padding: 13px 36px;
    margin: 0 22px 0 15px;
    text-transform: capitalize;
    font-weight: 300;
    height: 2.5rem;
    box-sizing: border-box;
    font-size: .875rem;
    border-radius: 2px;
    width: 13.125rem;
    background: rgb(238, 77, 45);
    border: 0;
    color: rgb(255, 255, 255);
    line-height: 1;
}