.sidebar_section {
    padding-bottom: 35px;
    border-bottom: solid 1px #ebebeb;
}
#slider-range
{
	margin-left: 7px !important;
}
#amount
{
	margin-top: 8px;
	color: #1e1e27 !important;
	font-size: 16px !important;
	font-weight: 500 !important;
}
.filter_button
{
	width: 100%;
	height: 30px;
	background: #1e1e27;
	text-align: center;
	margin-top: 25px;
	cursor: pointer;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.filter_button:hover
{
	background: #34343f;
}
.filter_button span
{
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 30px;
	color: #FFFFFF;
}
.product_sorting {
    display: inline-flex;
	justify-content: flex-end;
	width: 100%;
}
.product_sorting > li {
    display: inline-block;
    position: relative;
    width: 185px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    border: solid 1px #ecedee;
    padding-left: 20px;
    padding-right: 7px;
    margin-right: 16px;
}
.product_sorting li ul {
    display: block;
    position: absolute;
    right: 0;
    top: 120%;
    margin: 0;
    width: 100%;
    background: #FFFFFF;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
	padding-left: 0;
    box-shadow: 0 15px 25px rgb(63 78 100 / 15%);
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: all 0.3s ease;
}
.product_sorting li ul li {
    display: block;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
.product_sorting li i {
    float: right;
    line-height: 40px;
    color: #51545f;
}
.product_sorting li span:nth-child(2) {
    margin-left: 16px;
}
.product-show {
	margin-top: 32px;
}
.product_sorting > li:hover ul
{
	visibility: visible;
	opacity: 1;
	top: calc(100% + 1px);
}
.card-preview {
    width: 300px;
    height: 450px;
    margin: 0 auto;
}