            <div class="footer lazy">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="block">
                                <p class="title">Hỗ trợ khách hàng</p>
                                <a href="" class="small-text apply--hover">Hotline hỗ trợ : <strong>0818822203</strong> </a>
                                <a href="" class="small-text apply--hover">Các câu hỏi thường gặp</a>
                                <a href="" class="small-text apply--hover">Gửi yêu cầu hỗ trợ</a>
                                <a href="" class="small-text apply--hover">Hướng dẫn đặt hàng</a>
                                <a href="" class="small-text apply--hover">Phương thức vận chuyển</a>
                                <a href="" class="small-text apply--hover">Chính sách đổi trả</a>
                                <a href="" class="small-text apply--hover">Hướng dẫn trả góp</a>
                                <a href="" class="small-text apply--hover">Chính sách hàng nhập khẩu</a>
                                <a href="" class="small-text apply--hover">Hỗ trợ khách hàng: hotro@ulibs.vn</a>
                                <a href="" class="small-text apply--hover">Báo lỗi bảo mật: security@ulibs.vn</a>
                            </div>
                        </div>
                        <div class="col">
                            <div class="block">
                                <p class="title">Về ULibs</p>
                                <a href="" class="small-text apply--hover">Giới thiệu ULibs</a>
                                <a href="" class="small-text apply--hover">Tuyển dụng</a>
                                <a href="" class="small-text apply--hover">Chính sách bảo mật thanh toán</a>
                                <a href="" class="small-text apply--hover">Chính sách bảo mật thông tin cá nhân</a>
                                <a href="" class="small-text apply--hover">Chính sách giải quyết khiếu nại</a>
                                <a href="" class="small-text apply--hover">Điều khoản sử dụng</a>
                                <a href="" class="small-text apply--hover">Giới thiệu Ulibs Coin</a>
                                <a href="" class="small-text apply--hover">Tiếp thị liên kết cùng Tiki</a>
                                <a href="" class="small-text apply--hover">Bán hàng doanh nghiệp</a>
                                <a href="" class="small-text apply--hover">Điều kiện vận chuyển</a>
                            </div>
                        </div>
                        <div class="col">
                            <div class="block">
                                <p class="title">Hợp tác và liên kết</p>
                                <a href="" class="small-text apply--hover">Quy chế hoạt động Sàn GDTMĐT</a>
                                <a href="" class="small-text apply--hover">Bán hàng cùng Tiki</a>
                                <p class="title">Chứng nhận bởi</p>
                                <div class="d-flex">
                                    <a href="" class="small-text apply--hover"><img src="https://frontend.tikicdn.com/_desktop-next/static/img/footer/bo-cong-thuong-2.png" width="32" height="32" alt=""></a>
                                    <a href="" class="small-text apply--hover"><img src="https://frontend.tikicdn.com/_desktop-next/static/img/footer/bo-cong-thuong.svg" height="32" width="83" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="block">
                                <p class="title">Phương thức thanh toán</p>
                                <a href="" class="small-text apply--hover d-inline-block"><img src="../../img/logo/visa.png" alt="" class="icon-logo"></a>
                                <a href="" class="small-text apply--hover d-inline-block"><img src="../../img/logo/jcb.png" alt="" class="icon-logo"></a>
                                <a href="" class="small-text apply--hover d-inline-block"><img src="../../img/logo/debit-card.png" alt="" class="icon-logo"></a>
                                <a href="" class="small-text apply--hover d-inline-block"><img src="../../img/logo/paypal.png" alt="" class="icon-logo"></a>
                                <a href="" class="small-text apply--hover d-inline-block"><img src="../../img/logo/MoMo_Logo.png" alt="" class="icon-logo"></a>
                                <a href="" class="small-text apply--hover d-inline-block"><img src="../../img/logo/zalopay.png" alt="" class="icon-logo"></a>
                                <a href="" class="small-text apply--hover d-inline-block"><img src="../../img/logo/moca.png" alt="" class="icon-logo"></a>
                                <a href="" class="small-text apply--hover d-inline-block"><img src="../../img/logo/vnpay.webp" alt="" class="icon-logo"></a>       
                                <p class="title">Dịch vụ giao hàng</p>
                                <a href="" class="small-text apply--hover d-inline-block"><img src="../../img/logo/JTExpress.png" alt="" class="icon-logo-xl"></a>
                                <a href="" class="small-text apply--hover d-inline-block"><img src="../../img/logo/viettel-post.png" alt="" class="icon-logo-xl" style="height: 30px;"></a>
                            
                            </div>
                        </div>
                        <div class="col">
                            <div class="block">
                                <p class="title">Kết nối với chúng tôi</p>
                                <a href="https://www.instagram.com/_hiungyn24/?hl=en" class="small-text d-inline-block"><img src="../../img/logo/instagram.png" alt="" class="icon-logo" target="_blank" rel="noreferrer noopener"> </a>
                                <a href="https://www.facebook.com/2pacFanboi/" class="small-text d-inline-block"><img src="../../img/logo/facebook.png" alt="" class="icon-logo" target="_blank" rel="noreferrer noopener"> </a>
                                <a href="" class="small-text d-inline-block"><img src="../../img/logo/messenger.png" alt="" class="icon-logo" target="_blank" rel="noreferrer noopener"> </a>
                                <div class="fb-contact" style="margin-top: 16px;">
                                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fulibs&tabs&width=300&height=200&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="300" height="200" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-info color-text-secondary">
                        <div class="address-info">
                        <p class="small-text">Trụ sở chính: Ở gốc mít đi tít vào trong gặp tổ ong rẽ trái. Thôn cành lá, xã cành cây, huyện gió mây, tỉnh đồi núi.</p>
                        <p class="small-text">ULibs nhận đặt hàng trực tuyến và giao hàng tận nơi, chưa hỗ trợ mua và nhận hàng trực tiếp tại văn phòng hoặc trung tâm xử lý đơn hàng</p>
                        <p class="small-text">Giấy chứng nhận Đăng ký Kinh doanh số xxxxxxx do Sở Kế hoạch và Đầu tư Thành phố Hồ Chí Minh cấp lần đầu ngày 06/01/2010 và sửa đổi lần thứ 23 ngày 14/02/2022</p>
                        <p style="margin-bottom: 0;" class="small-text">© 2022 - Bản quyền của Công ty TNHH Một Mình Tôi</p>
                        </div>
                    </div>
                </div>
            </div>
