            <div class="navigation d-flex">
                <img src="../../img/logo/logo.jpg" alt="" class="img-logo">
                <div class="middle-header">
                    <div class="search-form">
                        <input class="search-input" type="text" placeholder="Tìm sản phẩm, danh mục hay thương hiệu mong muốn ..." placeholder="Search" aria-label="Search">
                        <button class="btn-search" type="submit">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            Tìm Kiếm
                        </button>
                      </div>
                    <div class="book-recommended">
                        <span class="book-recommended title">Phổ biến : </span>
                        <ul class="list-recommended">
                            <li>chuyện kể rằng có nàng và tôi</li>
                            <li>chiến tranh tiền tệ</li>
                            <li>chú thuật hồi chiến</li>
                            <li>luật tâm thức</li>
                            <li>thiên tài bên trái kẻ điên bên phải</li>
                        </ul>
                    </div>
                </div>
                  <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                      <li class="nav-item dropdown">
                        
                        <a class="nav-link dropdown-toggle text-white user-text" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img src="https://scontent.fdad1-3.fna.fbcdn.net/v/t1.6435-9/181415923_2833785176834033_5553031235311940064_n.jpg?_nc_cat=110&ccb=1-5&_nc_sid=174925&_nc_ohc=ethxj6q5NLQAX9ORnF_&_nc_ht=scontent.fdad1-3.fna&oh=00_AT_HqR8uWdyRx6MqwsgW4zkp81MoR9AYNA1kn3zONnPLrA&oe=6272E3EE" alt="" class="user-avatar">
                          <i class="fa-solid fa-user"></i>
                          Nguyễn Trung Hiếu
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="/books/create">Đăng bán sách</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="/me/stored/books">Sách của tôi</a>
                          <a class="dropdown-item" href="/me/stored/news">Bài viết của tôi</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Đăng xuất</a>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="add-cart text-white">
                        <i class="fa-solid fa-cart-shopping">
                            <span class="badge bg-danger badge-alert">4</span>
                        </i>
                        <!-- <p>Giỏ Hàng</p> -->
                  </div>
            </div>